.work-experience-card{
    border: 2px solid var(--color2);
    background-color: #130f2a;
    border-radius: 10px;
    padding: 1.5em;
    margin: 0 20px;
}
.work-experience-card .company{
    font-size: 1,5em;
    font-weight: 500;
    margin-bottom: 0.7rem;
}
.work-experience-card .duration{
    display: inline-block;
    font-size: 0.7em;
    font-weight: 400;
    background: rgba(103, 81, 185, 0.5);
    padding: 0.4em;
}
.work-experience-card .description{
    font-size: 0.8rem;
    font-weight: 800;
    margin-top: 0.5rem;
}