.homeContainer{
    width: 100%;
    height: 700px;
    display: flex;
}
.homeContainer .textContainer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeContainer .textContainer::before{
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: var(--color1);
    border-radius: 50%;
    z-index: -1;
    filter: blur(225px);
}
.homeContainer .textContainer h2{
    font-size: 4rem;
    padding: 0 100px;
}
.homeContainer .textContainer p{
    font-size: 1rem;
    padding: 0 100px;
    margin-top: 50px;
}
.homeContainer .imgContainer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeContainer .imgContainer .img{
    width: 400px;
    height: 500px;
    background-image: url(liane.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.homeContainer .imgContainer::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: var(--color1);
    border-radius: 50%;
    z-index: -1;
    filter: blur(225px);
    bottom: 40px;
}
@media (max-width:1025px) {
    .homeContainer .textContainer h2{
        font-size: 4rem;
        padding: 0 50px;
        text-align: center;
    }
    .homeContainer .textContainer p{
        font-size: 1rem;
        padding: 0 50px;
        margin-top: 50px;
    }
    .homeContainer{
        flex-direction: column-reverse;
        height: 1100px;
    }
    .homeContainer .textContainer{
        width: 100%;
        height: 500px;

    }
    .homeContainer .imgContainer{
        width: 100%;
        height: 500px;

    }
}
@media (max-width:426px){
    .homeContainer .imgContainer .img{
        width: 350px;
        height: 450px;
     
    }
    .homeContainer .textContainer h2{
        font-size: 3.5rem;
        padding: 0 30px;
        text-align: center;
    }
}
@media (max-width:376px){
    .homeContainer .imgContainer .img{
        width: 300px;
        height: 400px;
     
    }
    .homeContainer .textContainer h2{
        font-size: 3.5rem;
        padding: 0 20px;
        text-align: center;
    }
    .homeContainer .textContainer p{
        font-size: 1rem;
        padding: 0 20px;
        margin-top: 50px;
    }
    .homeContainer .textContainer::before{
        width: 300px;
        height: 300px;
    }
    .homeContainer .textContainer h2{
        font-size: 3rem;
        padding: 0 30px;
        text-align: center;
    }
}