@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Jost:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body {
  color: var(--color3);
  background-color: var(--color4);
 
}

:root{
  --color1: #a993fe;
  --color2: #7e61e7;
  --color3: #fff;
  --color4: #060417;
  --color5: #1a1542;
}